header {
  position: relative;
  height: 120px;
  background-color: $background-colour;
  background-image: url("../../graphics/cogent-logo-background-84x120.png");
  background-repeat: repeat-x;
}

#header__logo {
  margin-top: 158px;
  margin-bottom: 56px;
}