.header__social--links {
  width: 190px;
  height: 40px;
  position: relative;
  text-align: center;
  margin: 0 auto 128px;
}

.header__social--links ul {
  display: inline-block;
}

li[class^="header__social--links"], span#footer__social--links {
  display: inline-block;
  position: relative;
}

li[class^="header__social--links"] {
  float: left;
  margin-right: 30px;
  width: 36px;
  height: 36px;
  border: 2px solid #fff;
  border-radius: 20px;
}

li[class^="header__social--links"]:last-child {
  margin-right: 0;
}

li[class^="header__social--links"] a {
  display: block;
  width: 36px;
  height: 36px;
}

li[class^="header__social--links"] img {
  position: relative;
}

li.header__social--links--facebook img {
  top: 7px;
}

li.header__social--links--twitter img {
  top: 9px;
}

li.header__social--links--instagram img {
  top: 8px;
}