/* based on http://meyerweb.com/eric/tools/css/reset/ - v2.0 | 20110126 - License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

/*chrome user stylesheet*/
ul, menu, dir {
  display: block;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px; }

blockquote, q {
  quotes: none; }

blockquote::before, blockquote::after,
q::before, q::after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
@mixin more-than-max-width {
  @media (screen and (min-width: 77.5rem)) {
    @content;
  }
}
*/
body {
  font-family: "Volkhov", "Palatino", serif;
  font-size: 1.125rem;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6, .menu-prim__item {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: bold;
  text-transform: uppercase; }

a, a:link {
  color: inherit;
  font-weight: bold; }

a:visited {
  color: inherit; }

a:hover, a:focus {
  color: red; }

a:active {
  color: yellow; }

.menu-prim__item a, .callstoaction__click a, footer a {
  text-decoration: none; }

h1 {
  color: #000; }

#introduction h1 {
  font-size: 2.5rem;
  line-height: 1.125;
  margin: 0 25%; }

#introduction p {
  margin: 16px 25% 0;
  line-height: 1.3888; }

.title, .em {
  font-style: italic; }

.strong {
  font-weight: bold; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  background-color: #248039; }

header, main, footer {
  background-color: #ffffff; }

main .container {
  border: 1px solid black; }

.container {
  position: relative;
  margin: 0 auto;
  padding: 0 10px;
  max-width: 77.5rem; }

.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden; }

header {
  position: relative;
  height: 120px;
  background-color: #ffffff;
  background-image: url("../../graphics/cogent-logo-background-84x120.png");
  background-repeat: repeat-x;
  background-position: 0 0; }

.header__logo {
  text-align: left; }
  .header__logo img {
    display: block; }

.menu-layout {
  position: relative;
  top: -73px;
  text-align: center; }

.header-social-layout {
  position: absolute;
  top: 44px;
  right: 0; }

.header-social__item {
  float: left;
  width: 30px;
  height: 30px;
  margin-right: 20px; }
  @media screen and (max-width: 77.5rem) {
    .header-social__item {
      margin-right: 10px; } }

.header-social__item:last-child {
  margin-right: 0px; }
  @media screen and (max-width: 77.5rem) {
    .header-social__item:last-child {
      margin-right: 10px; } }

.menu--head {
  display: none; }

.menu-prim__item {
  display: inline-block;
  font-size: 1rem;
  text-align: left;
  color: #333;
  margin-right: 6px; }

.menu-sec__list {
  display: none;
  position: absolute;
  z-index: 10; }

.menu-prim__item:hover .menu-sec__list {
  display: block; }

/*
#nav__list li.social-link {
  display: none;
}

#nav__list li:first-child {
  margin-left: 0;
}

#nav__list li:last-child {
  margin-right: 0;
}


#nav__list li a {
  color: #fff;
  font-weight: normal;
}

#nav__list li, li[class^="header__social--links"], .social__contacts button {
  background-color: transparent;
  transition: background .1s ease-in;
}

#nav__list li:hover, li[class^="header__social--links"]:hover, .social__contacts button:hover {
  background-color: rgb(75,90,98); /* rgb for IE8 
  background-color: rgba(255,255,255,0.3); /* opacity on rollover 
  transition: background .1s ease-in;
}
*/
/* -->>> LESS THAN 560px <<<-- */
/*   instigates mobile layout  */
@media only screen and (max-width: 35rem), only screen and (max-device-width: 35rem) {
  .nav--head {
    color: #fff;
    display: none;
    font-family: "Montserrat", "Arial", sans-serif;
    font-style: normal;
    margin-right: 3%;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    top: -12px; }

  .no-js .nav--head {
    visibility: hidden; }

  .nav--head.closed {
    display: block; }

  .nav--head::after {
    content: '';
    background: transparent url("../graphics/sprite-94x77.png") no-repeat -1px -12px;
    display: inline-block;
    height: 1.5rem;
    margin-left: 10px;
    position: relative;
    top: 6px;
    width: 1.5rem; }

  .no-js .menu-prim__list {
    top: -4px; }

  .menu-prim__list {
    background-color: rgba(0, 0, 0, 0.3);
    display: block;
    float: right;
    padding: 4px;
    position: absolute;
    right: 3%;
    top: 24px;
    z-index: 30;
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    border-radius: 4px;
    white-space: nowrap; }

  .no-js .menu-prim__list {
    top: -4px; }

  .js .menu-prim__list.closed {
    display: none; }

  .menu-prim__item {
    display: block;
    border: 0;
    margin: 4px 0;
    padding: 0 4px;
    text-align: right;
    width: auto;
    font-size: 0.9rem; }

  .menu-prim__item:first-child {
    margin-left: 0; }

  .menu-prim__item a {
    margin: 0; } }
.header-social__list {
  display: inline-block; }

.header-social__item {
  border: 2px solid #71b5a6;
  border-radius: 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  transition: background .1s ease-in; }
  .header-social__item img {
    position: relative; }
  .header-social__item a {
    display: block;
    width: 30px;
    height: 30px; }

.header-social__item:hover {
  background-color: rgba(255, 255, 255, 0.8);
  /* opacity on rollover */
  transition: background .1s ease-in; }

.header-social__item.facebook img {
  top: 3px;
  left: -2px; }

.header-social__item.twitter img {
  top: 3px;
  left: -1px; }

.header-social__item.pinterest img {
  top: 3px;
  right: 2px; }

.header-social__item.linkedin img {
  top: 3px;
  right: 1px; }

.header-social__item.creativebrief img {
  top: 2px; }

#introduction {
  margin: 0 auto;
  padding: 70px 0 42px;
  background-color: #fff; }

#carousel {
  max-width: 1240px;
  max-height: 390px;
  position: relative;
  overflow: hidden;
  float: left;
  margin-top: 0;
  list-style: none;
  padding-left: 0; }

.no-js ul#carousel__slides li:first-child {
  position: relative;
  opacity: 1; }

.carousel__slide {
  position: absolute;
  width: 100%;
  top: 0;
  padding-left: 0;
  display: block; }

.carousel__slide {
  z-index: 1;
  opacity: 0;
  transition: opacity 1.5s ease-in; }

li.carousel__slide.active {
  opacity: 0;
  transition: opacity 1.5s ease-out; }

#carousel li.carousel__slide.next {
  position: static;
  z-index: 10;
  opacity: 1;
  transition: opacity 1.5s ease-out; }

#carousel li.carousel__slide.start {
  position: static;
  z-index: 10;
  opacity: 1;
  transition: none; }

.carousel__slide img {
  position: relative;
  width: 100%;
  max-width: 1240px; }

.carousel__caption {
  position: absolute;
  max-width: 66%;
  bottom: 20px;
  left: 20px;
  z-index: 10;
  font-size: 2.5rem;
  text-align: left;
  color: #ffffff; }

.carousel__caption a {
  white-space: nowrap;
  font-size: 0.5em;
  margin-left: 10px;
  font-style: italic; }

.carousel__caption a::after {
  content: '>>'; }

#carousel, #introduction {
  display: none; }

/*
.carousel__indicator__container {
  position: absolute;
  bottom: 25px;
  width: 100%;
  z-index: 30;
}

#carousel__indicator__list {
  display: inline-block;
}

.carousel__indicator.start, .carousel__indicator.active {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

li[class^="carousel__indicator"] {
  width: 10px;
  height: 10px;
  margin-right: 10px;
  background-color: #fff;
  float: left;
}

li[class^="carousel__indicator"]:last-child {
  margin-right: 0;
}


*/
/* ====  CALLS TO ACTION ==== */
#callstoaction {
  color: #fff; }

div[id^="callstoaction--"] {
  width: 25%;
  height: 0;
  padding-bottom: 25%;
  float: left;
  position: relative; }

div[id^="callstoaction--"] img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  display: block; }

.callstoaction__overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 10; }

.callstoaction__graphic {
  width: 65px;
  height: 64px;
  background: url("../graphics/sprite-94x77.png") no-repeat -27px -11px;
  margin: 20px auto; }

.callstoaction__text, .callstoaction__graphic, .callstoaction__click {
  position: relative;
  text-align: center; }

.callstoaction__text {
  font-size: 1.125rem;
  font-weight: normal;
  margin-top: 25%; }

.callstoaction__click {
  width: 50%;
  padding: 2px;
  border-radius: 4px;
  position: relative;
  left: 25%; }

.callstoaction__click a, .callstoaction__click:hover a {
  color: #fff; }

/* ====    INTERACTION   ==== */
.callstoaction__overlay {
  background-color: transparent;
  transition: background-color .1s ease-in; }

.callstoaction__overlay:hover {
  background-color: rgba(0, 0, 0, 0.7);
  transition: background-color .1s ease-in; }

.callstoaction__overlay [class^="callstoaction__"] {
  visibility: hidden;
  transition: display .1s ease-in; }

.callstoaction__overlay:hover [class^="callstoaction__"] {
  visibility: visible;
  transition: display .1s ease-in; }

.callstoaction__click {
  background-color: transparent;
  transition: background .1s ease-in; }

.callstoaction__click:hover {
  background-color: #4b5a62;
  /* rgb for IE8 */
  background-color: rgba(255, 255, 255, 0.3);
  /* opacity on rollover */
  transition: background .1s ease-in; }

input[type=text] {
  margin-bottom: 0.4em;
  width: 100%; }

.social__contacts button {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  margin: 10px auto 26px;
  border: 1px solid #fff;
  width: 190px;
  height: 35px;
  border-radius: 4px;
  font-size: 0.9375rem;
  color: #fff;
  font-family: "Montserrat", "Arial", sans-serif;
  text-transform: uppercase; }

.social__contacts fieldset {
  margin: 0 52px 14px;
  border: 1px solid #fff;
  text-align: left;
  height: 2.25rem; }

.social__contacts input[type="text"], .social__contacts label, .social__contacts legend {
  display: inline-block; }

.social__contacts input[type="text"] {
  width: 60%;
  background-color: transparent;
  border: 0;
  font-size: 1em;
  font-family: "Volkhov", "Palatino", serif;
  color: #fff; }

.social__contacts label {
  width: 26%;
  margin: 9px 2% 9px 4%;
  border-right: 1px solid #fff;
  line-height: 1rem;
  font-style: italic; }

.social__contacts legend {
  margin: 8px 0 0 2%;
  position: absolute;
  border-right: 1px solid #fff;
  height: 20px;
  padding-right: 6px; }

#signup--birthday--day, #signup--birthday--month {
  background-color: transparent;
  border: 0;
  color: #fff;
  font-family: inherit;
  font-size: inherit;
  position: relative;
  margin: 6px 10px 0 0;
  left: 6rem; }

footer {
  position: relative;
  clear: both; }

footer p {
  font-family: "Montserrat", "Arial", "sans-serif";
  font-weight: normal;
  font-style: normal;
  color: #fff;
  padding-top: 32px;
  border-top: 4px double #fff;
  font-size: 0.9375rem;
  line-height: 1.4375; }

footer a {
  color: #fff; }

span[class^="footer__social--links--"] {
  top: 2px;
  margin-right: 20px; }

span[class^="footer__social--links"]:last-child {
  margin-right: 0; }

.footer__contact::after {
  content: "|";
  margin: 0 20px; }

span[class^="footer__social--links"] a {
  display: inline-block; }

span#footer__social--links {
  display: inline-block;
  position: relative; }

.footer__social--links--facebook a {
  width: 8px;
  height: 14px; }

.footer__social--links--twitter a {
  width: 14px;
  height: 11px; }

.footer__social--links--instagram a {
  width: 14px;
  height: 13px; }

/*# sourceMappingURL=main.css.map */
