//<li class="carousel__slide slide2">
//<p class="carousel__caption">Kendal to Kew</p>
//<img src="./graphics/network-q-1240x390.jpg" alt="Thank you"></li>

#carousel {
  max-width: 1240px;
  max-height: 390px;
  position: relative;
  overflow: hidden;
  float: left;
  margin-top: 0;
  list-style: none;
  padding-left: 0;
}

.no-js ul#carousel__slides li:first-child {
  position: relative;
  opacity: 1;
}

.carousel__slide {
  position: absolute;
  width: 100%;
  top: 0;
  padding-left: 0;
  display: block;
}

.carousel__slide {
  z-index: 1;
  opacity: 0;
  transition: opacity 1.5s ease-in;
}

li.carousel__slide.active {
  opacity: 0;
  transition: opacity 1.5s ease-out;
}

#carousel li.carousel__slide.next {
  position: static;
  z-index: 10;
  opacity: 1;
  transition: opacity 1.5s ease-out;
}

#carousel li.carousel__slide.start {
  position: static;
  z-index: 10;
  opacity: 1;
  transition: none;
}

.carousel__slide img {
  position: relative;
  width: 100%;
  max-width: 1240px;
}

.carousel__caption {
  position: absolute;
  max-width: 66%;
  //max-width: 1240px;
  //background-color: #666;
  bottom: 20px;
  left: 20px;
  z-index: 10;
  font-size: 2.5rem;
  text-align: left; //varies?
  color: $text-on-dark-bg;
}


//<li class="carousel__slide slide1"><p class="carousel__caption">Why?</p><img src="390.jpg"></li>

.carousel__caption a { //not like this!!
  //position: relative;
  //max-width: 66%;
  //max-width: 1240px;
  //background-color: #666;
  white-space: nowrap;
  font-size: 0.5em; //<-- need to set this on caption
  margin-left: 10px;
  font-style: italic;
}

.carousel__caption a::after { //not like this!!
  //position: relative;
  //max-width: 66%;
  //max-width: 1240px;
  //background-color: #666;
  content: '>>';
}


#carousel, #introduction {
  display: none; //TEMP TO HIDE IT!!
  }

/*
.carousel__indicator__container {
  position: absolute;
  bottom: 25px;
  width: 100%;
  z-index: 30;
}

#carousel__indicator__list {
  display: inline-block;
}

.carousel__indicator.start, .carousel__indicator.active {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

li[class^="carousel__indicator"] {
  width: 10px;
  height: 10px;
  margin-right: 10px;
  background-color: #fff;
  float: left;
}

li[class^="carousel__indicator"]:last-child {
  margin-right: 0;
}


*/