.carousel {
  max-width: 1240px;
  max-height: 390px;
  position: relative;
  overflow: hidden;
  float: left;
  margin-top: 0;
  list-style: none;
  padding-left: 0;
}

.no-js .carousel__slides li:first-child {
  position: relative;
  opacity: 1;
}

.carousel__slide {
  position: absolute;
  width: 100%;
  top: 0;
  padding-left: 0;
  display: block;
  z-index: 1;
  opacity: 0;
  transition: opacity 1.5s ease-in;
  &.active {
    transition: opacity 1.5s ease-out;    
  }
  &.next, &.start {
    position: static;
    z-index: 10;
    opacity: 1;
    transition: opacity 1.5s ease-out;    
  }
  &.start {
    transition: none;    
  }
}

.carousel__slide img {
  position: relative;
  width: 100%;
  max-width: 1240px;
}

.carousel__caption {
  position: absolute;
  z-index: 20;
  text-align: left;
  bottom: 10px;
  left: 10px;
  .lightpic + & {
    color: $text-on-light-bg;
  }
  .darkpic + & {
    color: $text-on-dark-bg;
  }
  .texttop + & {
    bottom: auto;
    top: 10px;
  }
  @include tabletplus {
    bottom: 20px;
    left: 20px;
    max-width: 66%;
  }
}

.carousel__readlink {
  white-space: nowrap;
  margin-left: 10px;
  font-style: italic;
  @include linkbg;
  a {
    text-decoration: none;
  }
  &::after {
    content: '>';
    position: absolute;
    top: 20px;
    margin-left: 6px;
  }
}