.menu-link--mobile {
  color: $text-on-light-bg;
  font-family: $sans-font;
  position: absolute;
  right: 10px;
  top: 0;
  text-transform: uppercase;
  display: block;
  text-align: center;
  @include tabletplus {
    display: none;
  }
  &:after { //need to create menu icon
    content: '';
    background: transparent url("../graphics/sprite-94x77.png") no-repeat -1px -12px;
    display: block;
    height: 16px;
    width: 36px;
    margin: 0 10px;
    background-color: blue; //TEMP
  }
}

.no-js {
  .menu-link--mobile { //never show MENU when no js - just open menu
    display: none;
  }
  .menu-prim__list { //position list without MENU
    top: -4px;
  }
}

.menu-prim__list {
  display: block;
  float: right;
  padding: 4px;
  position: absolute;
  right: 20px;
  top: 24px;
  z-index: 10;
  border-radius: 2px;
  background-color: rgba($rollover-bg,0.4);
  white-space: nowrap;
  @include tabletplus {
    background-color: transparent;
    position: relative;
    float: none;
    padding: 0;
    right: auto;
    top: -5px;
  }
}

.js .menu-prim__list.closed { //hide dropdown menu when closed
  display: none;
  @include tabletplus {
    display: block;
  }
}


.menu-prim__item {
  display: block;
  position: relative;
  border: 0;
  margin: 4px 0;
  padding: 0 4px;
  text-align: right;
  width: auto;
  @include tabletplus {
    display: inline-block;
    text-align: left;
    margin-right: 6px;
    &:last-child {
      margin-right: 0px;
    }
    a {
      @include linkbg;
    }
  }
}

.menu-sec__list { //may need to put menu-prim back in front?
  display: none;
  text-transform: capitalize;
  position: absolute;
  z-index: 10;
  padding: 4px;
  border-radius: 2px;
  background-color: rgba($rollover-bg,0.4);
  right: 105%;
  top: -4px;
  @include tabletplus {
    right: 0px;
    top: 1.3em;
    white-space: nowrap;
  }
  @include desktopplus {
    left: 0px;
  }
}

.menu-sec__item {
    a {
      @include linkbg;
    }
}

.menu-prim__item:hover .menu-sec__list {
  display: table;
}