header {
  position: relative;
  height: 120px;
  background-color: $bg-col;
  background-image: url("../../graphics/cogent-logo-background-84x120.png");
  background-repeat: repeat-x;
  background-position: 0 0;
}

.header__logo {
  text-align: left; 
}

.menu-layout {
  position: relative;
  top: -82px;
  text-align: center;
}

.header-social-layout {
  position: absolute;
  top: 20px;
  right: 0;
}