.header-social__list {
  display: inline-block;
}

.header-social__item, span#footer__social--links { //MOVE TO FOOTER
  display: inline-block;
  position: relative;
}

.header-social__item {
  float: left;
  margin-right: 30px;
  width: 36px;
  height: 36px;
  border: 2px solid #fff;
  border-radius: 20px;
}

.header-social__item:last-child {
  margin-right: 0;
}

.header-social__item a {
  display: block;
  width: 36px;
  height: 36px;
}

.header-social__item img {
  position: relative;
}

.header-social__item.facebook img {
  top: 7px;
}

.header-social__item.twitter img {
  top: 9px;
}

.header-social__item.instagram img {
  top: 8px;
}


