.menu--head {
  display: none;
}

//.menu-primary--layout <-- make a surrounding div and call it this? check his code
.menu-prim__list {

//  border-top: 2px solid #fff;
//  border-bottom: 2px solid #fff;
//  margin-bottom: 57px;
}
.menu-prim__item {

}

//.menu-primary__item <-- use this OR use direct child >
.menu-prim__item {
  font-family: $sans-font-stack;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  //font-weight: normal;
  font-size: 1rem;
  //width: 15%;
  //margin: 18px 0.8%;
  //border-radius: 4px;
  //font-style: normal;
  text-align: left;
  color: $text-on-light-bg;
  margin-right: 6px; //?
}


.menu-sec__list { //may need to put menu-prim back in front?
  display: none;
  text-transform: capitalize;
  position: absolute;
  z-index: 10;
  padding: 4px;
  border-radius: 2px;
  background-color: rgba($lightpurple,0.8);
  color: #fff;
}
//colour doesn't work when over dark image

.menu-prim__item:hover .menu-sec__list {
  display: block;
}


.menu-sec__item {
//  font-size: 0.8rem;
}

/*
#nav__list li.social-link {
  display: none;
}

#nav__list li:first-child {
  margin-left: 0;
}

#nav__list li:last-child {
  margin-right: 0;
}


#nav__list li a {
  color: #fff;
  font-weight: normal;
}

#nav__list li, li[class^="header__social--links"], .social__contacts button {
  background-color: transparent;
  transition: background .1s ease-in;
}

#nav__list li:hover, li[class^="header__social--links"]:hover, .social__contacts button:hover {
  background-color: rgb(75,90,98); /* rgb for IE8 
  background-color: rgba(255,255,255,0.3); /* opacity on rollover 
  transition: background .1s ease-in;
}
*/

/* -->>> LESS THAN 900px <<<-- */

@media only screen and (max-width: 56.25rem), only screen and (max-device-width: 56.25rem) {
  


}



/* -->>> LESS THAN 560px <<<-- */
/*   instigates mobile layout  */

@media only screen and (max-width: 35rem), only screen and (max-device-width: 35rem) {




.nav--head {
  color: #fff;
  display: none;
  font-family: $sans-font-stack;
  font-style: normal;
  margin-right: 3%;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: -12px;
}

.no-js .nav--head {
  visibility: hidden;
}

.nav--head.closed {
  display: block;
}

.nav--head::after {
  content: '';
  background: transparent url("../graphics/sprite-94x77.png") no-repeat -1px -12px;
  display: inline-block;
  height: 1.5rem;
  margin-left: 10px;
  position: relative;
  top: 6px;
  width: 1.5rem;
}

.no-js .menu-prim__list {
  top: -4px;
}

.menu-prim__list {
  display: block;
  float: right;
  padding: 4px;
  position: absolute;
  right: 3%;
  top: 24px;
  z-index: 30;
  margin-top: 0;
  margin-bottom: 0;
  border: 0;
  border-radius: 2px;
  background-color: rgba($lightpurple,0.4);
  white-space: nowrap;
}

.no-js .menu-prim__list {
  top: -4px;
}

.js .menu-prim__list.closed {
  display: none;
}

.menu-prim__item {
  display: block;
  border: 0;
  margin: 4px 0;
  padding: 0 4px;
  text-align: right;
  width: auto;
  font-size: 0.9rem;
}

//.no-js #nav__list li.social-link {
//  display: block;
//}

.menu-prim__item:first-child {
  margin-left: 0;
}

.menu-prim__item a {
  margin: 0;
}

} //end of mobile breakpoint