.header-social__list {
  display: inline-block;
}

.header-social__item {
  float: left;
  width: 30px;
  height: 30px;
  border: 2px solid $midgreen;
  border-radius: 20px;
  text-align: center;
  background-color: rgba($bg-col,0.8);
  transition: background .1s ease-in;
  img {
    position: relative;
  }
  a {
    display: block;
    width: 26px;
    height: 26px;
  }
  margin-right: 20px;
  @include widescreenonly {
    margin-right: 30px;
  }
  &:last-child {
    margin-right: 0px;
  }
}

.header-social__item:hover {
  background-color: rgba($orange,0.3);
  transition: background .1s ease-in;
}

.header-social__item.facebook img {
  top: 2px;
  left: 8px;
}

.header-social__item.twitter img {
  top: 5px;
  left: 3px;
}

.header-social__item.pinterest img {
  top: 3px;
  right: -5px;
}

.header-social__item.linkedin img {
  top: 3px;
  right: -5px;
}

.header-social__item.creativebrief img {
  top: 8px;
}