header {
  position: relative;
  height: 120px;
  background-color: $bg-col;
  background-image: url("../../graphics/cogent-logo-background-84x120.png");
  background-repeat: repeat-x;
  background-position: 0 0;
}

.header__logo {
  text-align: left;
}

.menu-layout {
  position: relative;
  top: -66px;
  
  text-align: right;
  margin-right: -4px; //margin minus padding on container - it's not abs pos so it recognises it
  @include desktopplus {
    top: -73px;
    text-align: center;
    margin-right: 10px; //maybe needs to come off mobile menu?
  }

  @include widescreenonly {
    margin-right: 0px;
  }
}

.header-social-layout {
  position: absolute;
  top: 12px;
  right: 0;
  margin-right: 20px;
  @include desktopplus {
    top: 44px;
    margin-right: 10px; //maybe needs to come off default?
  }
  @include widescreenonly {
    margin-right: 0px;
  }
}