header {
  position: relative;
  height: 120px;
  background-color: $bg-col;
  background-image: url("../../graphics/cogent-logo-background-84x120.png");
  background-repeat: repeat-x;
  background-position: 0 0;
}

.header__logo {
  text-align: left;
  img {
    display: block; 
  } 
}

.menu-layout {
  position: relative;
  top: -73px;
  text-align: center;
}

.header-social-layout {
  position: absolute;
  top: 44px;
  right: 0;
}

.header-social__item {
  float: left;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  @media screen and (max-width: $break-fullwidth) {
  //@include more-than-max-width { //this doesn't work
  //@media #{$less-than-max-width} { //this doesn't work either
    margin-right: 10px;
  }
}

.header-social__item:last-child {
  margin-right: 0px;
  @media screen and (max-width: $break-fullwidth) {
  //@media #{$less-than-max-width} {
    margin-right: 10px;
  }
}
//$more-than-max-width: "only screen and (min-width : $break-fullwidth)";