

/* ====   INTRODUCTION   ==== */






/* ========================== */
/* ====  SOCIAL CONTACTS ==== */
/* ========================== */


.social__contacts {
  margin-top: 42px;
  height: 332px;
  padding-bottom: 68px;
  color: #fff;
}

div[id^="social__contacts--"] {
  width: 32.258%;
  float: left;
  position: relative;
  margin: 42px 0.80645% 0;
}

div[id^="social__contacts--"] h2 {
  font-weight: normal;
  padding-bottom: 16px;
  border-bottom: 1px solid #fff;
  margin-bottom: 16px;
}

div[id^="social__contacts--"]:first-child {
  margin-left: 0;
}

div[id^="social__contacts--"]:last-child {
  margin-right: 0;
}

.social__contacts--instagram--image {
  width: 48.75%;
  height: 0;
  padding-bottom: 48.75%;
  float: left;
  display: block;
  position: relative;
  margin-right: 2.5%;
}

.social__contacts--instagram--image:last-child {
  margin-right: 0;
}

.social__contacts--instagram--image img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  display: block;
}

.social__contacts--text {
  margin: 0 10% 40px; /* changed from 52px/13% because heavier font wrapped to 3 lines */
}

.social__contacts--tweet {
  margin: 0 13%;
  text-align: left;
  font-size: 0.9375rem;
  line-height: 1.4375; 
}

.social__contacts--twitter-timestamp {
  display: block;
  text-align: right;
}

/* ====      FORM      ==== */



/* ========================== */
/* ====      FOOTER      ==== */
/* ========================== */





/* ========================== */
/* ====   MEDIAQUERIES   ==== */
/* ========================== */


/* -->>> MORE THAN 2000px, width of bg pic <<<-- */
/* to expand background pictures when container is more than the width of the picture */
@media only screen and (min-width: 125rem), only screen and (min-device-width: 125rem) {

#header__landing-background, #footer__home-background {
    background-size: cover;
  }
} /*end of media query min-width 2000px */




/* -->>> LESS THAN 1260px, width of main container <<<-- */

@media only screen and (max-width: 78.75rem), only screen and (max-device-width: 78.75rem) {


.container {
  padding: 0;
}

#nav__list li {
  width: 13%;
}

#nav__list li:first-child {
  margin-left: 0.8%;
}

#nav__list li:last-child {
  margin-right: 0.8%;
}

.social__contacts .container {
  padding: 0 1.5%;
}

.social__contacts legend[for="signup--birthday"] {
  width: 35%;
  margin-right: 0;
}

} /*end of media query max-width 1260px */



/* -->>> LESS THAN 1100px <<<-- */

@media only screen and (max-width: 68.75rem), only screen and (max-device-width: 68.75rem) {


#header__landing-background, #header__landing-background::after {
  height: 918px;
}

#header__logo {
//  margin-top: 80px;
}

.callstoaction__text {
  margin-top: 20%;
}

.social__contacts {
  text-align: center;
}

div[id^="social__contacts--"] {
  width: 31%;
  margin: 42px 1.5% 0;  
}

.social__contacts label[for="signup--"], .social__contacts legend[for="signup--"] {
  width: 28%;
}

.social__contacts fieldset {
  margin: 0 0 14px 0;
}

.social__contacts select[id^="signup--birthday"] {
  margin-left: 10px;
}

.social__contacts--tweet {
  margin: 0 4.5%;
}

} /*end of media query max-width 1100px */



/* -->>> LESS THAN 900px <<<-- */

@media only screen and (max-width: 56.25rem), only screen and (max-device-width: 56.25em) {

#nav__list li {
  width: 22%;
}

.callstoaction__text {
  margin-top: 12%;
}

#signup--birthday--day, #signup--birthday--month {
  margin: 6px 0 0;
  left: 5rem;
}

} /*end of media query max-width 900px */



/* -->>> LESS THAN 816px <<<-- */

@media only screen and (max-width: 51rem), only screen and (max-device-width: 51rem) {


#header__landing-background {
  background: rgba(0, 0, 0, 0) url("../graphics/landing-bg-top-q18-2000x960.jpg") no-repeat scroll center -250px;
  height: 720px;
}

#header__landing-background::after {
  height: 720px;
}

.header__social--links {
  width: 190px;
  height: 40px;
  position: relative;
  text-align: center;
  margin-bottom: 50px;
}

#introduction h1 {
  margin: 0 15%;
}

#introduction p {
  margin: 16px 15% 0 15%;
}

.callstoaction__text {
  margin-top: 10%;
}

} /*end of media query max-width 816px */



/* -->>> LESS THAN 736px <<<-- */
@media only screen and (max-width: 46rem), only screen and (max-device-width: 46rem) {


.callstoaction__text {
  margin-top: 8%;
  font-size: 0.825rem;
  padding: 0 10%;
}

.callstoaction__graphic {
  margin: 5px auto;
}

.callstoaction__click {
  font-size: 0.825rem;
}

.social__contacts button {
  width: 100%;
}

} /*end of media query max-width 736px */


/* -->>> LESS THAN 560px <<<-- */
/*   instigates mobile layout  */

@media only screen and (max-width: 35rem), only screen and (max-device-width: 35rem) {


#header__landing-background {
  background: rgba(0, 0, 0, 0) url("../graphics/landing-bg-top-q18-2000x960.jpg") no-repeat scroll center -300px;
  height: 618px;
}

#header__landing-background::after {
  height: 618px;
}

#header__logo {
//  margin: 7% 0 7% 7%;
  position: relative;
  text-align: left;
//  width: 56.5%; /* makes it high enough to force social icons to fit */
}

#header__logo img {
  width: 100%;
}

.header__social--links {
  height: auto;
  margin: 0 7% 0 0;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 40px;
}

.no-js .header__social--links {
  display: none;
}

li[class^="header__social--links"] {
  margin-right: 0;
  margin-top: 35%;
  bottom: 0;
}



#introduction h1 {
  margin: 0 5%;
}

#introduction p {
  margin: 16px 5% 0 5%;
}

div[id^="callstoaction--"] {
  padding-bottom: 50%;
  width: 50%;
}

.callstoaction__text {
  margin-top: 15%;
}

.social__contacts {
  margin-top: 10px;
  border-bottom: 0;
}

div[id^="social__contacts--"], div[id^="social__contacts--"]:first-child, div[id^="social__contacts--"]:last-child {
  margin: 0;
}

div[id^="social__contacts--"]:last-child {
  border-bottom: 0;
}

div[id^="social__contacts--"] {
  width: 97%;
  border-bottom: 1px solid #fff;
  margin-bottom: 20px;
  padding: 10px 1.5% 20px;
}

div[id^="social__contacts--"] h2 {
  margin-bottom: 0;
  border-bottom: 0;
  padding-bottom: 0;
  padding-left: 1.5%;
  text-align: left;
}

p.social__contacts__handle {
  margin-right: 1.5%;
  position: absolute;
  right: 0;
  top: 10px;
}

.social__contacts--text {
  margin: 10px 10px 20px 10px;
}

.social__contacts--instagram--image:first-child img {
  right: 0;
}

.footer__contact::after, span[class^="footer__social--links--"] {
  margin: 0 7px;
}

.social__contacts legend {
  width: 26%;
}

#signup--birthday--day, #signup--birthday--month {
  left: 10rem;
}

} /*end of media query max-width 560px */


/* -->>> LESS THAN 450px <<<-- */

@media only screen and (max-width: 28.125rem), only screen and (max-device-width: 28.125rem) {

#introduction {
  padding-top: 50px;
}

#introduction h1 {
  font-size: 2rem;
}

#introduction p {
  font-size: 1rem;
}

} /*end of media query max-width 450px */


/* -->>> LESS THAN 400px <<<-- */
/* ->> move to mobile view <<- */

@media only screen and (max-width: 25rem), only screen and (max-device-width: 25rem) {

li[class^="header__social--links"] {
  margin-top: 15%;
}

} /*end of media query max-width 400px */