html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

header, main, footer {
  background-color: $bg-col;
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0 10px;
  max-width: $break-fullwidth;
}

.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}


/* TEMP STYLES FOR DEV */

body { background-color: $main-colour;}

main .container {border: 1px solid black;}

body:before { 
  display: block;
  width: 100%;
  font-size: 1em;
  line-height: 1;
  color: black;
  font-family: "Arial";
  content: 'default';
  background-color: red;
  @include tabletplus {
    content: 'tabletplus';
    background-color: yellow;
  }
  @include desktopplus {
    content: 'desktopplus';
    background-color: red;
  }
  @include widescreenonly {
    content: 'widescreen only';
    background-color: yellow;
  }
}

#carousel, #introduction {
  display: none; 
}

/* END OF TEMP STYLES FOR DEV */