html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: $main-colour; //remove this
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0 10px;
  max-width: 77.5rem; /* full width based on 1240px */
}

.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}