body { //do i need this? add to content divs?
  font-family: $sans-font;
  font-size: 1.125rem; //18px - put in variables
  line-height: 1.5; //24px
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  text-transform: uppercase;
  color: $text-on-light-bg;
}

.title, .em {
  font-style: italic;
}

.strong {
  font-weight: bold;
}

a, a:link {color: $link; font-weight: bold;}
a:visited {color: $visited-link;}
a:hover, a:focus, a:active {color: $focus-active-link;}


header {
  a, a:link {color: $text-on-light-bg; text-decoration: none;}
  a:visited {color: $text-on-light-bg;}
  a:hover, a:focus {color: $orange;}
  a:active {color: $orange;}
}

.menu-layout {
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
  @include tabletplus {
    font-size: 1rem;
  }
}
/*
.introduction {
  h1 {
    font-size: 2.5rem;
    line-height: 1.125;
    margin: 0 25%;
  }
  p {
    margin: 16px 25% 0;
    line-height: 1.3888;
  }
} 
*/
.articlelinks__block {
  p {
    font-size: 0.7rem;
    
    @include largermobile {
      font-size: 0.9rem;
    }
    @include midwidth {
      font-size: 1rem;
    }
  }
}