body {
  font-family: $sans-font;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  text-transform: uppercase;
  color: $text-on-light-bg;
}

.title, .em {
  font-style: italic;
}

.strong {
  font-weight: bold;
}

/*
a, a:link {color: $link; font-weight: bold;}
a:visited {color: $visited-link;}
a:hover, a:focus, a:active {color: $focus-active-link;}
*/
header, .carousel, .articlelinks {
  a, a:link, a:visited, a:hover, a:focus, a:active {
    color: inherit; text-decoration: none; font-weight: normal;
  }
}

.menu-layout {
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
  @include tabletplus {
    font-size: 1rem;
  }
}

.intro-head {
  font-family: $sans-font;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.intro-text {
  font-family: $serif-font;
}

.social-block {
  font-family: $serif-font;
  font-size: 0.9rem;
}

.carousel__caption {
  font-size: 1.5rem;
 .carousel__readlink  {
  font-size: 0.75rem;
 }
  @include tabletplus {
    font-size: 2rem;
    .carousel__readlink  {
      font-size: 1rem;
    }
  }
  @include desktopplus {
    font-size: 2.5rem;
    .carousel__readlink  {
      font-size: 1.25rem;
    }
  }
}

.articlelinks__block {
  p {
    font-size: 0.7rem;
    
    @include largermobile {
      font-size: 0.9rem;
    }
    @include midwidth {
      font-size: 1rem;
    }
  }
}

footer {
  font-size: 0.9rem; 
}