body {
  font-family: "Volkhov", "Palatino", serif;
  font-size: 1.125rem;
  line-height: 1.5rem;
  text-align: center;
  font-style: italic;
}

h1, h2, h3, h4, h5, h6, #nav__list li {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
}

#nav__list a, .callstoaction__click a, footer a {
  text-decoration: none;
}

h1 {
  color: #000;
}



#introduction h1 {
  font-size: 2.5rem;
  line-height: 1.125;
  margin: 0 25%;
}

#introduction p {
  margin: 16px 25% 0;
  line-height: 1.3888;
}

.title, .em {
  font-style: italic;
}

.strong {
  font-weight: bold;
}