//COLOURS//
$midgreen: #71b5a6;
$limegreen: #c6db45;
$orange: #f89f59;
$lightpurple: #c1bfd8;

$main-colour: $midgreen; //temp
$bg-col: #ffffff;
$text-on-dark-bg: #cccccc;
$text-on-light-bg: #333333;
$rollover-bg: $lightpurple;
$link: $orange;
$visited-link: #df8f50;
$focus-active-link: #df8f50;


//FONTS//
$sans-font: "Montserrat", "Arial", sans-serif;
$serif-font: "Palatino", serif;
$base-font-size: 1.125rem; //18px
$base-line-height: 1.5; //24px


//BREAKPOINTS//
$break-fullwidth: 77.5rem; //1240px;
$break-desktopwidth: 64rem; //1024px;
$break-midwidth: 50rem; //800px;
$break-narrowwidth: 40rem; //560px;
$break-narrowestwidth: 28rem; //448px;


@mixin tabletplus {
  @media (min-width: #{$break-narrowwidth}) {
    @content;
  }
}

@mixin desktopplus {
  @media (min-width: #{$break-desktopwidth}) {
    @content;
  }
}

@mixin widescreenonly {
  @media (min-width: #{$break-fullwidth}) {
    @content;
  }
}

//these for text in articlelink blocks


@mixin largermobile {
  @media (min-width: #{$break-narrowestwidth}) {
    @content;
  }
}

@mixin midwidth {
  @media (min-width: #{$break-midwidth}) {
    @content;
  }
}


//BACKGROUND INDICATION FOR LINKS
@mixin linkbg {
  &:hover::before {
    content: '';
    background-color: rgba($orange, 0.5);
    padding: 2px 5px;
    position: absolute;
    top: 0;
    left: 0;
    width: 107%;
    height: 100%;
    display: inline-block;
    border-radius: 6px;
    z-index: 0;
  }
}

//CALCULATING ROWS FOR BLOG/NEWS LINKS//
@mixin rowCalcs($numPerRow, $margin) {
  $calcWidth: ((100% - (($numPerRow - 1) * $margin)) / $numPerRow);
  width: $calcWidth;
  height: 0;
  padding-bottom: $calcWidth;
  &:nth-child(n) {
    margin-bottom: $margin;
    margin-right: $margin;
  }
  &:nth-child(#{$numPerRow}n) {
    margin-right: 0;
    margin-bottom: 0;
  }
}