//COLOURS//
$midgreen: #71b5a6;
$limegreen: #c6db45;
$orange: #f89f59;
$lightpurple: #c1bfd8;


$main-colour: $midgreen; //temp
$bg-col: #ffffff;
$text-on-dark-bg: #cccccc;
$text-on-light-bg: #333333;
$rollover-bg: $lightpurple;
$link: $orange;
$visited-link: #df8f50;
$focus-active-link: #df8f50;


//FONTS//
$sans-font: "Montserrat", "Arial", sans-serif;
$serif-font: "Volkhov", "Palatino", serif;


//BREAKPOINTS//
$break-fullwidth: 77.5rem; //1240px;
$break-midwidth: 64rem; //1024px;
$break-narrowwidth: 40rem; //560px;


@mixin tabletplus {
  @media (min-width: #{$break-narrowwidth}) {
    @content;
  }
}

@mixin desktopplus {
  @media (min-width: #{$break-midwidth}) {
    @content;
  }
}

@mixin widescreenonly {
  @media (min-width: #{$break-fullwidth}) {
    @content;
  }
}